* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #1c1c1c;
  width: 400px;
  padding: 60px 10px 10px 10px;
  border-radius: 10px;
  border: 5px solid #fff;
}

.display {
  background-color: #1c1c1c;
  text-align: right;
  font-size: 90px;
  max-width: 100%;
  border: none;
  /* outline: none; */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  /* padding: 8px; */
}

.buttons button {
  background-color: #505050;
  color: #fff;
  font-size: 36px;
  text-align: center;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border: none;
}

.buttons button:hover {
  opacity: 70%;
}
.buttons button:active {
  opacity: 90%;
}
